.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#userInput {
  padding: 3%;
  border: 6px solid rgb(223, 56, 56);
}

.weatherGipsy {
  border: 6px solid yellowgreen;
}
