body {
  font-size: 16px;
  background-color: #ff6500;
  color: #000000;
}

.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#userInput {
  padding: 3%;
  border-radius: 5%;
  background-color: #ffffff;
}

.weatherGipsy {
  width: 250px;
  height: 150px;
}
